[{{ app_name }}]
user = {{ nginx_user }}
group = {{ nginx_user }}
listen = {{ fpm_sock }}
listen.owner = {{ nginx_user }}
listen.group = {{ nginx_user }}
php_admin_value[disable_functions] = exec,passthru,shell_exec,system
php_admin_flag[allow_url_fopen] = off
pm = dynamic
pm.max_children = {{ max_child }}
pm.start_servers = {{ start_serv }}
pm.min_spare_servers = {{ min_spare_serv }}
pm.max_spare_servers = {{ max_spare_serv }}
chdir = /
