<?php

echo "<html>";
echo "<head>";
echo "<title>NetrisApps</title>";
echo "</head>";
echo "<body>";
echo "<h1>Welcome to Netris Apps Framework</h1>";
echo "<p>If you see this page, it means the framework is installed and the embedded web server is working, however, no apps have been installed just yet.</p>";
echo "</body>";
echo "</html>";

?>
