<?php

define('APP_DIR', '{{ etc_dir }}/emailqueue/');
include APP_DIR.'emailqueue_inject.class.php';

if(isset($_POST['functioncall']) && !empty($_POST['functioncall'])) {
    $functioncall = $_POST['functioncall'];
    $email = $_POST['email'];
    $from_email = $_POST['fromemail'];
    $from_name = $_POST['fromname'];
    if ($functioncall == 'testEmail') {
      testEmail($email, $from_email, $from_name);
    }
}

function sendEmail($send_time, $from_email, $from_name, $to_email, $email_subject, $email_body) {
  $emailqueue_inject = new emailqueue_inject(DB_HOST, DB_UID, DB_PWD, DB_DATABASE);
  $result = $emailqueue_inject->inject(
    null,
    null,
    null,
    false,
    $send_time,
    true,
    $from_email,
    $from_name,
    $to_email,
    null,
    null,
    $email_subject,
    $email_body,
    false,
    false,
    null,
    false
  );
  if(!$result) {
    throw new \RuntimeException('Failed to send email - review configuration');
  }
}

function testEmail($email, $from_email, $from_name) {
  $emailqueue_inject = new emailqueue_inject(DB_HOST, DB_UID, DB_PWD, DB_DATABASE);
  $result = $emailqueue_inject->inject(
    null,
    null,
    null,
    false,
    time(),
    false,
    $from_email,
    $from_name,
    $email,
    null,
    null,
    "Email Test",
    "This is a test message from the Netris Calendar email system",
    false,
    false,
    null,
    false
  );
  if($result) {
    echo "Message sent successfully!";
  }
  else {
    echo "An error occurred sending the email.";
  }
}
?>
