<?php

// -----------------------------------------------------------------
// |
// | Define global constants for Emailqueue
// |
// -----------------------------------------------------------------

  define("DB_HOST", "localhost");
  define("DB_UID", "root");
  define("DB_PASSWORD", "{{ na_root_pw }}");
  define("DB_NAME", "{{ eq_database }}");
  define("NA_DB", "{{ na_database }}");
  define("APP_DIR", "{{ etc_dir }}/emailqueue/");
  define("LIB_DIR", "{{ etc_dir }}/emailqueue/lib/");
  
?>
