<?php

// -------------------------------------------------------
// |
// | Define global constants for Emailqueue
// |
// -------------------------------------------------------

  define("SQL_SERVER", "localhost");
  define("SQL_USER", "root");
  define("SQL_PW", "{{ na_root_pw }}");
  define("EQ_DB", "{{ eq_database }}");
  define("NA_DB", "{{ na_database }}");
  define("APP_DIR", "{{ etc_dir }}/emailqueue/");
  define("LIB_DIR", APP_DIR."lib/");
  define("PURGE_DAYS", {{ eq_purge }});
  
?>
