<?php

// -----------------------------------------------------------------
// |
// | Define global constants for Emailqueue
// |
// -----------------------------------------------------------------

  define("DB_HOST", "localhost");
  define("DB_UID", "root");
  define("DB_PWD", "{{ na_root_pw }}");
  define("DB_DATABASE", "{{ eq_database }}");
  define("NA_DB", "{{ na_database }}");
  define("APP_DIR", "{{ etc_dir }}/emailqueue/");
  define("LIB_DIR", "{{ etc_dir }}/emailqueue/lib/");
  define("WWW_DIR", "{{ www_dir }}/");
  
?>
