<?php
class Config {

    // ------------------------------------------------------------------------
    // GENERAL SETTINGS
    // ------------------------------------------------------------------------

    const BASE_URL      = '{{ http_proto }}://{{ inventory_hostname }}';
    const LANGUAGE      = 'english';
    const DEBUG_MODE    = FALSE;

    // ------------------------------------------------------------------------
    // DATABASE SETTINGS
    // ------------------------------------------------------------------------

    const DB_HOST       = 'localhost';
    const DB_NAME       = '{{ na_database }}';
    const DB_USERNAME   = 'root';
    const DB_PASSWORD   = '{{ na_root_pw }}';

    // ------------------------------------------------------------------------
    // GOOGLE CALENDAR SYNC
    // ------------------------------------------------------------------------

    const GOOGLE_SYNC_FEATURE   = FALSE; // Enter TRUE or FALSE
    const GOOGLE_PRODUCT_NAME   = '';
    const GOOGLE_CLIENT_ID      = '';
    const GOOGLE_CLIENT_SECRET  = '';
    const GOOGLE_API_KEY        = '';
    
    // ------------------------------------------------------------------------
    // PATH SETTINGS
    // ------------------------------------------------------------------------
    
    const WWW_PATH      = {{ www_dir }};
    const ETC_PATH      = {{ etc_dir }};
    
}

/* End of file config.php */
/* Location: ./config.php */
