<?php
class Config {

    // ------------------------------------------------------------------------
    // GENERAL SETTINGS
    // ------------------------------------------------------------------------

    const BASE_URL      = '{{ http_proto }}://{{ inventory_hostname }}';
    const LANGUAGE      = 'english';
    const DEBUG_MODE    = FALSE;
    const PURGE_DAYS    = {{ eq_purge }};

    // ------------------------------------------------------------------------
    // DATABASE SETTINGS
    // ------------------------------------------------------------------------

    const DB_HOST       = 'localhost';
    const DB_NAME       = '{{ na_database }}';
    const EQ_DB_NAME    = '{{ eq_database }}';
    const DB_USERNAME   = 'root';
    const DB_PASSWORD   = '{{ na_root_pw }}';

    // ------------------------------------------------------------------------
    // GOOGLE CALENDAR SYNC
    // ------------------------------------------------------------------------

    const GOOGLE_SYNC_FEATURE   = FALSE; // Enter TRUE or FALSE
    const GOOGLE_PRODUCT_NAME   = '';
    const GOOGLE_CLIENT_ID      = '';
    const GOOGLE_CLIENT_SECRET  = '';
    const GOOGLE_API_KEY        = '';
    
    // ------------------------------------------------------------------------
    // PATH SETTINGS
    // ------------------------------------------------------------------------
    
    const WWW_DIR   = '{{ www_dir }}';
    const ETC_DIR   = '{{ etc_dir }}';
    const APP_DIR   = '{{ etc_dir }}/emailqueue/';
    const LIB_DIR   = '{{ etc_dir }}/emailqueue/lib/';
    
}

/* End of file config.php */
/* Location: ./config.php */
