---
- name: Remove old docker versions
  yum:
    name: "{{ item }}"
    state: absent
  with_items:
  - docker
  - docker-engine
  - docker-common
  - docker-client
  
- name: Install Prerequisites
  yum:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    update_cache: yes
  with_items:
  - { name: 'apt-transport-https', state: 'latest' }
  - { name: 'ca-certificates', state: 'latest' }
  
- name: Add Docker GPG key.
  rpm_key:
    key: "{{ docker_gpg_key_url }}"
    state: present

- name: Add Docker ce repo
  get_url:
    url: "{{ docker_repo_url }}"
    dest: /etc/yum.repos.d/docker-ce.repo
    owner: root
    group: root
    mode: 0644

- name: Install Docker
  yum:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    update_cache: yes
  with_items:
  - { name: 'docker-{{ docker_edition }}', state: 'present' }
  
- name: Install Docker compose
  pip: 
    name: docker-compose
    state: present
  
- name: Set Service parameters
  service:
    name: "{{ item.name }}"
    enabled: "{{ item.enabled }}"
    state: "{{ item.state }}"
  with_items:
  - { name: 'docker', enabled: 'yes', state: 'started' }
