version: "3"

services:
   {{ app_name }}_db_{{ host_split }}:
     image: mariadb:latest
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: {{ na_root_pw }}
       MYSQL_DATABASE: {{ app_name }}
       MYSQL_USER: root
       MYSQL_PASSWORD: {{ na_root_pw }}
     container_name: {{ db_container }}

   {{ app_name }}_{{ host_split }}:
     depends_on:
       - {{ app_name }}_db_{{ host_split }}
     image: php:{{ php_version }}
     expose:
       - 80
     restart: always
     environment:
       VIRTUAL_HOST: {{ inventory_hostname }}
       LETSENCRYPT_HOST: {{ inventory_hostname }}
       LETSENCRYPT_EMAIL: {{ letsencrypt_email }}
     container_name: {{ app_container }}
volumes:
  db_data:

networks:
  default:
    external:
      name: {{ docker_network_name }}
