<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Netris Apps - Development Platform</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
	<h1>Welcome!</h1>
  <p>This is is the Netris Apps development platform placeholder index.php. If you are seeing this, it means that the environment is installed and working, however nothing has been developed yet.</p>
</body>
</html>
