version: '3'

services:
  {{ app_container }}:
    container_name: {{ app_container }}
    hostname: {{ app_container }}
    image: tiredofit/freepbx
    ports:
      - "5060:5060/udp"
      - "5160:5160/udp"
    expose:
      - 80
      - 18000-18100/udp
      - 4445
    volumes:
      - data:/data
      - www:/var/www/html
      - assets:/assets/custom
      - db_data:/var/lib/mysql
    restart: always
    environment: 
      VIRTUAL_HOST: {{ inventory_hostname }}
      LETSENCRYPT_HOST: {{ inventory_hostname }}
      LETSENCRYPT_EMAIL: {{ letsencrypt_email }}
      VIRTUAL_NETWORK: {{ docker_network_name }}
      VIRTUAL_PORT: 80
      RTP_START: 18000
      RTP_FINISH: 18100
      HOSTNAME: {{ app_container }}
      WEBROOT: /var/www/html
      ENABLE_ZABBIX: "FALSE"
      DB_EMBEDDED: "TRUE"
      DB_HOST: localhost
      DB_PORT: 3306
      DB_NAME: {{ app_name }}
      DB_USER: root
      DB_PASS: {{ na_root_pw }}
    cap_add:
      - NET_ADMIN
    privileged: true

volumes:
  data:
  www:
  assets:
  db_data:

networks:
  default:
    external:
      name: {{ docker_network_name }}
