version: '3'

services:
  {{ app_name }}_{{ host_split }}:
    image: tiredofit/freepbx
    expose:
      - 80
      - 5060/udp
      - 5160/udp
      - 18000-18100/udp
      - 4445
    volumes:
      - data:/data
      - www:/var/www/html
      - assets:/assets/custom
	restart: always
    environment: 
      VIRTUAL_HOST: {{ inventory_hostname }}
      LETSENCRYPT_HOST: {{ inventory_hostname }}
      LETSENCRYPT_EMAIL: {{ letsencrypt_email }}	  
      VIRTUAL_NETWORK: {{ docker_network_name }}	  
      VIRTUAL_PORT: 80
      RTP_START: 18000
      RTP_FINISH: 18100
      DB_EMBEDDED: FALSE
      DB_HOST: {{ app_name }}_db_{{ host_split }}
      DB_PORT: 3306
      DB_NAME: {{ app_name }}
      DB_USER: root
      DB_PASS: {{ na_root_pw }}
    cap_add:
      - NET_ADMIN
    privileged: true
    container_name: {{ app_container }}

  {{ app_name }}_db_{{ host_split }}:
    image: tiredofit/mariadb
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: {{ na_root_pw }}
      MYSQL_DATABASE: {{ app_name }}
      MYSQL_USER: root
      MYSQL_PASSWORD: {{ na_root_pw }}
    container_name: {{ db_container }}

volumes:
  data:
  www:
  assets:
  db_data:

networks:
  default:
    external:
      name: {{ docker_network_name }}
