version: "3"

services:
   {{ app_name }}_db_{{ host_split }}:
     image: million12/mariadb:latest
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MARIADB_USER: {{ db_user }}
       MARIADB_PASS: {{ na_root_pw }}
     container_name: {{ db_container }}

   {{ app_name }}_{{ host_split }}:
     depends_on:
       - {{ app_name }}_db_{{ host_split }}
     image: polinux/cacti:latest
     expose:
       - 80
     restart: always
     environment:
       VIRTUAL_HOST: {{ inventory_hostname }}
       LETSENCRYPT_HOST: {{ inventory_hostname }}
       LETSENCRYPT_EMAIL: {{ letsencrypt_email }}
       DB_USER: {{ db_user }}
       DB_PASS: {{ na_root_pw }}
       DB_ADDRESS: {{ app_name }}_db_{{ host_split }}
     container_name: {{ app_container }}
volumes:
  db_data:

networks:
  default:
    external:
      name: {{ docker_network_name }}
